.about-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 60px;
    padding-top: 30px;
}
.about{
    padding: 50px;
    width: 700px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 10px;

}

.about-img{
    object-fit: cover;
    width: 170px;
    height: 170px;
    border: 2px solid white;
    border-radius: 100%;
    background-color: black;
    margin-right: 20px;
}

.about-description,.about-greeting{
    padding: 10px;
    color: white;
    max-height: 200px;
    font-family: sans-serif;
    line-height: 22px;
    font-size: 14px;
    width: 100%;
    text-align: justify;
}


.about-icons{
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 30px;
}

.about-icons > *{
  margin-right: 25px;
  color: white;
}

.about-icons  .about-icon{
    font-size: 50px !important;
}
